<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Task</title>
</head>

<body>
    <h1>Add A Task</h1>
    <form action="/tasks" method="POST">
        <label for="name">Task Name</label>
        <input type="text" name="name" id="name" placeholder="Task name">
        <label for="name">description</label>
        <input type="text" name="description" id="description" placeholder="task description">
        <button>Submit</button>
    </form>

</body>

</html>